body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: #eee;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
    font-size: 1em;

    @media (max-width: 360px) {
        font-size: 0.8em;
    }

    @media (max-width: 340px) {
        font-size: 0.7em;
    }
}

nav ul li a:hover {
    text-decoration: underline;
    color: #242424;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.login-load {
    font-size: 1.2em;
}

#menu {
    display: flex;
    flex-direction: row;
    width: 90%;
    
    @media (max-width: 740px) {
        flex-direction: column;
        align-items: center;

        .span-line {
            display: none;
        }
    } 

    div {
        width: 50%;
        margin-left: 10px;
        ul {
            list-style-type: none;
            padding: 0;
        }
    }
}

#logOutH1 {
    text-align: center;
    margin-top: 150px;
}
footer {
    margin-bottom: 20px;
    text-align: center;
}

